*.pyc
*.sw-
tools/sw-examples/improved-imdb.sw
tools/tdillo.txt
v0.02/test/test_package/.cache/v/cache/lastfailed
v0.02/test/test_package/saved-table.txt
v0.02/test/test_package/.cache/v/cache/lastfailed
v0.02/test/test_package/.cache/v/cache/lastfailed
v0.02/test/test_package/.cache/v/cache/lastfailed